header {
  height: 80px;
  background-color:lightcoral;
  font-family: "Microsoft YaHei";
}


.btn {
  display:inline-block;
  background-color:rgba(240, 128, 128, 0.8);  /* lightcoral */
  padding: 8px 24px;
  border-radius: 4px;
  box-shadow:darkgrey 0 7px ;
  cursor: pointer;
  margin: 0 4px 12px 0;
  /* テキストを選択させない */
  -webkit-user-select: none;
}

.btn:hover {
  background-color:rgba(240, 128, 128, 1);
}

.btn:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

/*juziListSet はjsonファイルを読み込む機能としたい。。*/
.juziListSet {
  float: none;
}

.shengci1, .juzi1, .juzi2 {
  margin-right: 7px;
}

.shengcires, .juzires0, .juzires1, .juzires2 {
  width: fit-content;  
  background-color:antiquewhite;
  padding: 8px 24px;
  margin: 4px;
  font-family: "Microsoft YaHei";
}

#juzimp3:active{
  border: none;
  outline: none;
}

li {
  font-family: "Microsoft YaHei"
}



footer {
  height: 50px;
  background-color:indianred;
}

